# Stellar Network Configuration
# For testnet: https://soroban-testnet.stellar.org
# For mainnet: https://mainnet.sorobanrpc.com
STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443

# monitor configuration
START_LEDGER=1000000

# Monitoring Configuration
POLL_INTERVAL=5000
LOG_LEVEL=info

# stellar rpc settings
STELLAR_NETWORK=
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# deployer secret key
SECRET_KEY=

# deploy
SOURCE_ACCOUNT=
CONTRACT_ALIAS=reward_campaign
ADMIN_ADDRESS=

# first player keypair
USER_ADDRESS=
USER_SECRET_KEY=

# reward campaign contract id
REWARD_CAMPAIGN_CONTRACT_ID=CDBLGBQLRM7QCCHMZSG65RWT2KFZTQ6CKWD6ZG3JDFUD5GWO5M5UU7YJ

# Telegram bot
API_KEY=
OPENAI_API_KEY=
botToken=
PRIVATE_KEY=
NFT_CONTRACT_ADDRESS=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=


